.form{
    width: 400px;
    height: 300px;
    display: flex;
    font-size: 20px;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    justify-content: center;
}
    .form input{
        outline: none;
        border-radius: 10px;
        margin-bottom: 6px;
        width: 95%;
        padding: 5px 10px;
        transition: border-color 0.4s ease;
        border: 1px solid rgb(210, 208, 208);
    }

    .form input:focus {
        border-color: rgb(50, 88, 177);
    }